body {
  font-family: Arial, sans-serif;
  background-color: #0b1220;
  color: white;
  margin: 0;
  padding: 0;
}

.topbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #111b31;
}

.container {
  padding: 20px;
}

.card {
  background: #111b31;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
}

button {
  padding: 10px;
  cursor: pointer;
}

.book {
  border: 1px solid #333;
  padding: 10px;
  margin-bottom: 10px;
}
